{{!-- here we will show individual blog posts users click on --}}
{{!-- conditional within will have an update & delete option if logged in, else will have a comment option --}}
{{!-- for comments, we will loop through comments & for any comments that have a blogpost_id that matches current blogpost(id), they will be rendered to the page --}}
 
 {{!--add to dashmain  --}}
<main>
  <div class="blogContainer" data-session="{{userId}}">
    <div class="heading">
      <h2 class="blogTitle" data-user="{{blogpost.user_id}}" data-id="{{blogpost.id}}" data-title='{{blogpost.title}}'>{{blogpost.title}}</h2>
      <div class="postedBy">
        <p>Posted by &nbsp;{{blogpost.user.username}}&nbsp; on &nbsp;{{blogpost.date_created}}</p>
      </div>
    </div>
    <div class='content'>
      <p class="blogContent" data-content="{{blogpost.content}}">{{blogpost.content}}</p>
    </div>
    <a href="/edit/{{blogpost.id}}">
      <button class="postButtons hidden">Edit</button>
    </a>
  </div>
  {{#if blogpost.comments}}
    <div>
      <div class='comment-heading center-heading'>
        <h3>Comments</h3>
      </div>
      <div>
        {{#each blogpost.comments as |comment|}}
          <div class='heading whiteBorder'>
            <h2>{{comment.content}}</h2>
            <div class='postedBy'>
              <p>Posted by &nbsp;{{comment.user.username}}&nbsp; on &nbsp;{{comment.date_created}}</p>
            </div>
          </div>
          {{!-- conditional statement that if user is logged in, the delete button will appear --}}
          <div class="deleteCommentContainer"></div>
        {{/each}}
      </div>
    </div>
  {{/if}}
  <div class='comment-container text-center'>
    <form class="form comment-form">
    <div class="form-group left-text">
      <label for="comment-content">Comment</label>
      <input class="form-input commentContent" type="text" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary sendComment postButtons background" type="submit">Submit</button>
    </div>
    </form>
  </div>
</main>

<script src="/js/blogpost.js"></script>