{{!-- here we will loop through each blog post to display on screen --}}

<!-- Loop over each object in the blogposts array -->
{{#each blogposts as |blogpost| }}
<div>
  <div>
    <h2>
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    </h2>
    <p>Posted by &nbsp;{{user.username}}&nbsp; on &nbsp;{{blogpost.date_created}}</p>
  </div>
  <div>
    <p>{{blogpost.content}}</p>
  </div>
</div>
{{/each}}
