{{!-- here we will loop through each blog post to display on screen --}}

{{!-- add to main --}}
<!-- Loop over each object in the blogposts array -->
{{#each blogposts as |blogpost| }}
<main>
  <div class='center'>
    <div class='heading'>
      <h2>
        <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
      </h2>
      <div class="postedBy">
        <p>Posted by &nbsp;{{user.username}}&nbsp; on &nbsp;{{blogpost.date_created}}</p>
      </div>
    </div>
    <div class='content'>
      <p>{{blogpost.content}}</p>
    </div>
  </div>
</main>
{{/each}}
